In [7]:
# Module Imports
import matplotlib.pyplot as plt
import pandas as pd
import sklearn

In [10]:
df = pd.read_csv("train.csv")
df

,ID,var1,var2,var3,var4,var5,var6,var7,var8,var9,var10,var11,var12,var13,var14,var15,target
0,0,2013,12,8,17,11.000000,-1144.351458,500.000000,45.000000,6.400000,1067.590514,-10.800000,-6.253469,G,3.700000,A,32.000000
1,1,2013,5,16,7,17.000000,-51.596321,1698.073461,20.458846,19.900000,1016.200000,2.947184,0.000000,A,1.000000,I,89.000000
2,2,2014,6,26,7,-12.059049,45.000000,900.000000,31.000000,24.600000,997.900000,22.300000,0.000000,G,-2.990469,A,154.592918
3,3,2016,5,14,7,2.000000,21.000000,300.000000,25.723403,12.600000,NaN,9.800000,0.700000,C,1.045986,B,24.000000
4,4,2016,10,2,11,2.000000,46.861528,1884.153559,42.000000,6.003678,1010.000000,158.531366,0.000000,E,1.800000,L,196.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
306863,306863,2015,4,11,5,17.000000,66.000000,2674.314692,27.000000,12.700000,1010.800000,116.883148,0.000000,E,0.500000,F,211.039870
306864,306864,2016,1,3,2,23.000000,67.440307,5500.000000,2.000000,-3.200000,1011.900000,-7.000000,0.000000,G,1.200000,C,392.000000
306865,306865,2017,1,11,9,12.000000,66.000000,2695.833408,6.000000,9.703111,1016.000000,-147.811549,0.176683,H,1.553953,F,245.835549
306866,306866,2016,12,5,6,9.000000,63.000000,2049.430777,4.665397,2.800000,1014.700000,-7.690267,0.000000,B,2.100000,B,158.000000
306867,306867,2016,6,7,13,3.000000,23.000000,900.000000,163.829802,24.700000,598.497195,-28.811246,0.000000,I,2.200000,D,91.000000

In [12]:
df["var13"] = df["var13"].astype("category")
df["var13"] = df["var13"].cat.codes
df["var15"] = df["var15"].astype("category")
df["var15"] = df["var15"].cat.codes
df

,ID,var1,var2,var3,var4,var5,var6,var7,var8,var9,var10,var11,var12,var13,var14,var15,target
0,0,2013,12,8,17,11.000000,-1144.351458,500.000000,45.000000,6.400000,1067.590514,-10.800000,-6.253469,7,3.700000,0,32.000000
1,1,2013,5,16,7,17.000000,-51.596321,1698.073461,20.458846,19.900000,1016.200000,2.947184,0.000000,1,1.000000,8,89.000000
2,2,2014,6,26,7,-12.059049,45.000000,900.000000,31.000000,24.600000,997.900000,22.300000,0.000000,7,-2.990469,0,154.592918
3,3,2016,5,14,7,2.000000,21.000000,300.000000,25.723403,12.600000,NaN,9.800000,0.700000,3,1.045986,1,24.000000
4,4,2016,10,2,11,2.000000,46.861528,1884.153559,42.000000,6.003678,1010.000000,158.531366,0.000000,5,1.800000,11,196.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
306863,306863,2015,4,11,5,17.000000,66.000000,2674.314692,27.000000,12.700000,1010.800000,116.883148,0.000000,5,0.500000,5,211.039870
306864,306864,2016,1,3,2,23.000000,67.440307,5500.000000,2.000000,-3.200000,1011.900000,-7.000000,0.000000,7,1.200000,2,392.000000
306865,306865,2017,1,11,9,12.000000,66.000000,2695.833408,6.000000,9.703111,1016.000000,-147.811549,0.176683,8,1.553953,5,245.835549
306866,306866,2016,12,5,6,9.000000,63.000000,2049.430777,4.665397,2.800000,1014.700000,-7.690267,0.000000,2,2.100000,1,158.000000
306867,306867,2016,6,7,13,3.000000,23.000000,900.000000,163.829802,24.700000,598.497195,-28.811246,0.000000,9,2.200000,3,91.000000