In [52]:
# Module Imports
import matplotlib.pyplot as plt
import pandas as pd
import math
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, PolynomialFeatures
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error

In [53]:
df = pd.read_csv("train.csv")
# df.round(1)

In [54]:
df["var13"] = df["var13"].astype("category")
df["var13"] = df["var13"].cat.codes
df["var15"] = df["var15"].astype("category")
df["var15"] = df["var15"].cat.codes
df

,ID,var1,var2,var3,var4,var5,var6,var7,var8,var9,var10,var11,var12,var13,var14,var15,target
0,0,2013,12,8,17,11.000000,-1144.351458,500.000000,45.000000,6.400000,1067.590514,-10.800000,-6.253469,6,3.700000,0,32.000000
1,1,2013,5,16,7,17.000000,-51.596321,1698.073461,20.458846,19.900000,1016.200000,2.947184,0.000000,0,1.000000,8,89.000000
2,2,2014,6,26,7,-12.059049,45.000000,900.000000,31.000000,24.600000,997.900000,22.300000,0.000000,6,-2.990469,0,154.592918
3,3,2016,5,14,7,2.000000,21.000000,300.000000,25.723403,12.600000,NaN,9.800000,0.700000,2,1.045986,1,24.000000
4,4,2016,10,2,11,2.000000,46.861528,1884.153559,42.000000,6.003678,1010.000000,158.531366,0.000000,4,1.800000,11,196.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
306863,306863,2015,4,11,5,17.000000,66.000000,2674.314692,27.000000,12.700000,1010.800000,116.883148,0.000000,4,0.500000,5,211.039870
306864,306864,2016,1,3,2,23.000000,67.440307,5500.000000,2.000000,-3.200000,1011.900000,-7.000000,0.000000,6,1.200000,2,392.000000
306865,306865,2017,1,11,9,12.000000,66.000000,2695.833408,6.000000,9.703111,1016.000000,-147.811549,0.176683,7,1.553953,5,245.835549
306866,306866,2016,12,5,6,9.000000,63.000000,2049.430777,4.665397,2.800000,1014.700000,-7.690267,0.000000,1,2.100000,1,158.000000
306867,306867,2016,6,7,13,3.000000,23.000000,900.000000,163.829802,24.700000,598.497195,-28.811246,0.000000,8,2.200000,3,91.000000

In [55]:
df.isna().sum()

ID           0
var1         0
var2         0
var3         0
var4         0
var5      2960
var6      1543
var7      1721
var8      1278
var9      1357
var10     1386
var11     2515
var12     2313
var13        0
var14     2640
var15        0
target     735
dtype: int64

In [56]:
df['var5'].fillna(df.var5.median(), inplace= True)
df['var6'].fillna(df.var6.median(), inplace= True)
df['var7'].fillna(df.var7.median(), inplace= True)
df['var8'].fillna(df.var8.median(), inplace= True)
df['var9'].fillna(df.var9.median(), inplace= True)
df['var10'].fillna(df.var10.median(), inplace= True)
df['var11'].fillna(df.var11.median(), inplace= True)
df['var12'].fillna(df.var12.median(), inplace= True)
df['var14'].fillna(df.var14.median(), inplace= True)
df['target'].fillna(df.target.median(), inplace= True)

In [57]:
df.isna().sum()

ID        0
var1      0
var2      0
var3      0
var4      0
var5      0
var6      0
var7      0
var8      0
var9      0
var10     0
var11     0
var12     0
var13     0
var14     0
var15     0
target    0
dtype: int64

In [58]:
x = df.drop(columns= ['target', 'ID'])
y = df['target']

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size= 0.25, random_state= 1)
x_test

,var1,var2,var3,var4,var5,var6,var7,var8,var9,var10,var11,var12,var13,var14,var15
68662,2015,5,25,19,28.000000,33.000000,-20327.734063,253.000000,30.700000,1000.200000,11.600000,0.000000,12,5.400000,4
22654,2013,10,24,19,-456.705069,33.053300,500.000000,57.000000,32.251453,1021.300000,-0.800000,0.000000,3,2.400000,10
65848,2015,3,11,8,-1.211695,77.000000,1300.000000,8.000000,0.900000,1022.600000,-18.000000,0.000000,10,0.400000,4
151502,2016,9,11,8,2.000000,34.000000,700.000000,50.000000,19.900000,1006.500000,17.100000,0.000000,6,1.100000,5
242493,2015,2,17,21,10.000000,60.000000,700.000000,12.000000,2.000000,166.803293,-10.200000,0.000000,12,0.000000,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
127248,2015,11,19,5,2.000000,13.997320,1500.000000,2.000000,4.000000,1020.400000,1.569086,0.578588,5,1.400000,3
274889,2015,10,1,22,2.000000,81.000000,600.000000,2.000000,13.000000,1009.000000,9.706205,0.000000,15,-1.031597,9
148194,2016,12,28,5,48.054671,42.287541,3100.000000,4.000000,-4.100000,1936.159265,-8.600000,0.000000,4,1.200000,8
245878,2016,3,22,1,26.000000,119.000000,2000.000000,7.000000,12.000000,768.927657,1.000000,0.000000,9,1.003451,5
223963,2016,10,9,8,2.000000,21.613746,600.000000,-200.667168,7.700000,1017.500000,2.200000,0.000000,4,1.800000,5

In [59]:
scaler = StandardScaler()

x_train_scaler = scaler.fit_transform(x_train)
x_test_scaler = scaler.transform(x_test)

In [60]:
lin = LinearRegression()
poly = PolynomialFeatures(degree= 2)

x_train_poly = poly.fit_transform(x_train_scaler)
x_test_poly = poly.transform(x_test_scaler)
poly.fit(x_train_poly, y_train)
lin.fit(x_train_poly, y_train)

MemoryError: Unable to allocate 79.6 MiB for an array with shape (76717, 136) and data type float64

In [ ]:
y_train_pred = lin.predict(x_train_poly)
mean_absolute_error(y_train, y_train_pred)

102.74718388504618

In [ ]:
y_test_pred = lin.predict(x_test_poly)
mean_absolute_error(y_test, y_test_pred)

101.33374201048811

In [ ]:
df_test = pd.read_csv("test.csv")

In [ ]:
df_test["var13"] = df_test["var13"].astype("category")
df_test["var13"] = df_test["var13"].cat.codes
df_test["var15"] = df_test["var15"].astype("category")
df_test["var15"] = df_test["var15"].cat.codes

In [ ]:
df_test['var13'].fillna(df_test.var13.median(), inplace= True)

In [ ]:
features = df_test.drop(columns= ['ID'])
features

,var1,var2,var3,var4,var5,var6,var7,var8,var9,var10,var11,var12,var13,var14,var15
0,2014,2,12,11,23.0,50.0,1300.0,9.0,2.4,1027.6,-15.2,0.0,2,2.4,4
1,2014,7,29,23,2.0,16.0,800.0,155.0,23.4,999.5,22.2,6.7,8,0.0,7
2,2013,4,18,11,3.0,10.0,300.0,91.0,12.6,1016.0,-15.2,0.0,4,2.1,5
3,2014,1,27,9,81.0,98.0,3100.0,1.0,-1.4,1011.7,-7.7,0.0,4,2.0,10
4,2016,6,29,16,2.0,20.0,800.0,176.0,28.4,999.4,19.9,0.0,15,2.0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76712,2014,1,23,18,139.0,136.0,3400.0,1.0,-1.9,1008.9,-10.2,0.0,4,0.9,0
76713,2013,5,14,9,8.0,22.0,300.0,80.0,25.8,1001.3,1.1,0.0,4,2.0,5
76714,2014,6,19,6,2.0,65.0,700.0,25.0,23.5,995.7,13.4,0.0,3,0.6,1
76715,2017,1,1,6,9.0,104.0,7200.0,3.0,-4.5,1021.5,-5.5,0.0,1,1.2,0
76716,2016,3,16,8,26.0,120.0,3500.0,12.0,4.0,1014.3,-0.6,0.0,4,1.0,7

In [ ]:
features_scalar = scaler.transform(features)
features_poly = poly.transform(features_scalar)

predict = lin.predict(features_scalar)

ValueError: X has 15 features, but PolynomialFeatures is expecting 136 features as input.