In [2]:
# Module Imports
import matplotlib.pyplot as plt
import pandas as pd
import math
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, PolynomialFeatures
from sklearn.linear_model import LinearRegression

In [3]:
df = pd.read_csv("train.csv")

In [4]:
df["var13"] = df["var13"].astype("category")
df["var13"] = df["var13"].cat.codes
df["var15"] = df["var15"].astype("category")
df["var15"] = df["var15"].cat.codes
df

,ID,var1,var2,var3,var4,var5,var6,var7,var8,var9,var10,var11,var12,var13,var14,var15,target
0,0,2013,12,8,17,11.000000,-1144.351458,500.000000,45.000000,6.400000,1067.590514,-10.800000,-6.253469,6,3.700000,0,32.000000
1,1,2013,5,16,7,17.000000,-51.596321,1698.073461,20.458846,19.900000,1016.200000,2.947184,0.000000,0,1.000000,8,89.000000
2,2,2014,6,26,7,-12.059049,45.000000,900.000000,31.000000,24.600000,997.900000,22.300000,0.000000,6,-2.990469,0,154.592918
3,3,2016,5,14,7,2.000000,21.000000,300.000000,25.723403,12.600000,NaN,9.800000,0.700000,2,1.045986,1,24.000000
4,4,2016,10,2,11,2.000000,46.861528,1884.153559,42.000000,6.003678,1010.000000,158.531366,0.000000,4,1.800000,11,196.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
306863,306863,2015,4,11,5,17.000000,66.000000,2674.314692,27.000000,12.700000,1010.800000,116.883148,0.000000,4,0.500000,5,211.039870
306864,306864,2016,1,3,2,23.000000,67.440307,5500.000000,2.000000,-3.200000,1011.900000,-7.000000,0.000000,6,1.200000,2,392.000000
306865,306865,2017,1,11,9,12.000000,66.000000,2695.833408,6.000000,9.703111,1016.000000,-147.811549,0.176683,7,1.553953,5,245.835549
306866,306866,2016,12,5,6,9.000000,63.000000,2049.430777,4.665397,2.800000,1014.700000,-7.690267,0.000000,1,2.100000,1,158.000000
306867,306867,2016,6,7,13,3.000000,23.000000,900.000000,163.829802,24.700000,598.497195,-28.811246,0.000000,8,2.200000,3,91.000000

In [5]:
df.isna().sum()

ID           0
var1         0
var2         0
var3         0
var4         0
var5      2960
var6      1543
var7      1721
var8      1278
var9      1357
var10     1386
var11     2515
var12     2313
var13        0
var14     2640
var15        0
target     735
dtype: int64

In [11]:
df['var5'].fillna(df.var5.median(), inplace= True)
df['var6'].fillna(df.var6.median(), inplace= True)
df['var7'].fillna(df.var7.median(), inplace= True)
df['var8'].fillna(df.var8.median(), inplace= True)
df['var9'].fillna(df.var9.median(), inplace= True)
df['var10'].fillna(df.var10.median(), inplace= True)
df['var11'].fillna(df.var11.median(), inplace= True)
df['var12'].fillna(df.var12.median(), inplace= True)
df['var14'].fillna(df.var14.median(), inplace= True)

In [12]:
df.isna().sum()

ID          0
var1        0
var2        0
var3        0
var4        0
var5        0
var6        0
var7        0
var8        0
var9        0
var10       0
var11       0
var12       0
var13       0
var14       0
var15       0
target    735
dtype: int64

In [16]:
x = df.drop(columns= ['target', 'ID'])
y = df['target']

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size= 0.25, random_state= 1)

In [14]:
scaler = StandardScaler()

x_train_scaler = scaler.fit_transform(x_train)
x_test_scaler = scaler.transform(x_test)

In [19]:
lin = LinearRegression()
poly = PolynomialFeatures(degree= 15)

x_train_poly = poly.fit_transform(x_train_scaler)
x_test_poly = poly.transform(x_test_scaler)
poly.fit(x_train_poly, y_train)
lin.fit(x_train_poly, y_train)

MemoryError: Unable to allocate 260. TiB for an array with shape (230151, 155117520) and data type float64